<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in/Sign up to the developer portal</h1>

    <p class="govuk-body">
      The UK Trade Tariff Developer Portal allows you too:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Manage Fast Parcel Operator API keys to perform bulk classification of goods</li>
      <li>Manage UK Trade Tariff API oauth credentials to call various APIs to surface trade-related data</li>
    </ul>

    <p class="govuk-body">
      This service is for developers who need to access the UK Trade Tariff APIs. If you are not a developer, you do not need to sign up for this service.
    </p>

    <p class="govuk-body"><strong>What you need to do:</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Enter your email address</li>
      <li>Verify your email address</li>
      <li>Configure your credentials</li>
    </ul>

    <a href=<%= api_keys_path %> role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <%= render 'shared/start_arrow' %>
    </a>
  </div>
</div>
