<%= govuk_panel(title_text: "Application complete") do %>
        Your reference number
        <br>
        <strong><%= params[:application_reference] %></strong>
<% end %>

<p class="govuk-body">We have sent you a confirmation email.</p>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">We aim to process your application within ten working days.</p>

<p class="govuk-body">We will notify you of the decision by email using the details you have provided in your application.</p>

<p class="govuk-body">
  In the meantime, you can find out more about the Commodity Code Identification tool by reading the <%= documentation_link %>
</p>
<p class="govuk-body">
  <%= feedback_link %> (takes 30 seconds)
</p>
