<h1 class="govuk-heading-l">Your application has been rejected</h1>
<p class="govuk-body">
Your application, with reference number <strong><%= params[:application_reference] %></strong>, has been rejected.
</p>

<p class="govuk-body">
  A notification of this decision, including further details, has been sent to the email address provided in the application.
</p>

<p class="govuk-body">
  For further enquiries relating to this decision and general advice, email <a class="govuk-link"
  href="mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk">hmrc-trade-tariff-support-g@digital.hmrc.gov.uk</a> using below reference number.
</p>

<h1 class="govuk-heading-l"><%= params[:application_reference] %></h1>
<p class="govuk-body">
<p class="govuk-body">
  <%= feedback_link %> (takes 30 seconds)
</p>
