<h1 class="govuk-heading-l">You have signed out</h1>

<p class="govuk-body">
  You can sign in again to manage your organisation and API keys.
</p>

<%= govuk_button_link_to "Sign in", api_keys_path %>
