<h1 class="govuk-heading-l">Trade Tariff API key created</h1>

<div class="govuk-inset-text">
  <p class="govuk-body">Your Trade Tariff API key has been created. Make sure to copy it now as you won't be able to see it again.</p>
</div>

<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key(text: "Client ID")
    row.with_value(text: @trade_tariff_key.client_id)
  end
  summary_list.with_row do |row|
    row.with_key(text: "Secret")
    row.with_value(text: @trade_tariff_key.secret)
  end
  summary_list.with_row do |row|
    row.with_key(text: "Description")
    row.with_value(text: @trade_tariff_key.description)
  end
  summary_list.with_row do |row|
    row.with_key(text: "Scopes")
    row.with_value(text: @trade_tariff_key.scopes.join(', '))
  end
end %>

<div class="govuk-button-group">
  <%= govuk_button_link_to('Back to Trade Tariff keys', trade_tariff_keys_path) %>
</div>
