<% if key.enabled? %>
  <%= link_to 'Revoke', revoke_api_key_path(key), method: :patch, class: 'govuk-link', data: { confirm: 'Are you sure you want to revoke this API key?' } %>
<% elsif TradeTariffDevHub.deletion_enabled? %>
  <%= link_to 'Delete', delete_api_key_path(key), class: 'govuk-link govuk-link--warning', data: { confirm: 'Are you sure you want to permanently delete this API key? This action cannot be undone.' } %>
<% else %>
  <span class="govuk-hint govuk-!-margin-0">No actions available</span>
<% end %>
