<%= govuk_form_for @invitation do |f| %>
  <h1 class="govuk-heading-l">Enter the email address</h1>
  <%= f.govuk_text_field :invitee_email, width: 'two-thirds', label: nil, hint: { text: "Supply the email address of the person you would like to invite to your organisation." } %>
  <div class="govuk-button-group">
    <%= f.govuk_submit "Invite" %>
    <%= govuk_link_to('Cancel', organisation_path(organisation)) %>
  </div>
<% end %>
