<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Delete an API key</h1>
    <%= govuk_warning_text(text: "Your API Key will be deleted with immediate effect and cannot be reactivated once deleted.") %>
    <p class="govuk-body">Please check the below details regarding the API Key you have selected to delete and confirm your choice.</p>
    <%= govuk_table do |table|
          table.with_body do |body|
            body.with_row do |row|
              row.with_cell(header: true, text: 'API Key')
              row.with_cell(text: mask_api_key(@api_key))
            end
          end
        table.with_body do |body|
          body.with_row do |row|
            row.with_cell(header: true, text: 'Description')
            row.with_cell(text: @api_key.description)
          end
          body.with_row do |row|
            row.with_cell(header: true, text: 'Created on')
            row.with_cell(text: creation_date(@api_key))
          end
        end
      end
    %>
    <div class="govuk-button-group">
      <%= govuk_button_to 'Delete', delete_api_key_path, method: :delete, class: 'govuk-button govuk-button--warning' %>
      <%= govuk_link_to 'Cancel', api_keys_path, class: 'govuk-link' %>
    </div>
  </div>
</div>
