<%= form_with url: api_keys_path, method: :post do |f| %>
  <h1 class="govuk-heading-l">Enter a description for this API key</h1>
  <%= f.govuk_text_field :api_key_description, width: 'two-thirds', label: nil, hint: { text: "Use a description you will recognise in the future so that you know which system or developer is using this API key. Do not reuse the same description across API keys." } %>
  <div class="govuk-button-group">
    <%= f.govuk_submit "Continue" %>
    <%= govuk_link_to('Cancel', api_keys_path) %>
  </div>
<% end %>
