<% flash_message = alert.presence || notice.presence %>
<% show_important_banner = alert.present? %>

<% if flash_message.present? %>
  <% heading_text = flash_message.is_a?(Hash) ? flash_message[:heading] || flash_message["heading"] : flash_message %>
  <% body_text = flash_message.is_a?(Hash) ? flash_message[:body] || flash_message["body"] : nil %>

  <div class="flashes">
    <%= govuk_notification_banner(title_text: (show_important_banner ? "Important" : "Success"), success: !show_important_banner) do |banner| %>
      <% banner.with_heading(text: sanitize(heading_text)) %>
      <% if body_text.present? %>
        <p class="govuk-body"><%= sanitize(body_text) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
